
*{
    margin: 0;
    padding:0;
}
nav{
    color: whitesmoke;
    background-color: rgb(39, 8, 55);
    height: 66px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding:0 12px;
}
nav ul{
    list-style-type: none;
}